
body {
  font-family: Arial, sans-serif;
  background-color: #333;
  margin: 0;
  padding: 0;
  height:100%;
  display: flex;
 flex-direction: column;
 min-height: 100%;
}

.text-center{
display: flex;
width: 100%;
height: 80vh;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
color:white;
}

.text-center>h1{
  font-size: 5rem;
  margin: 0;
}
.text-center>p{
  padding: 5px;
  margin: 0;
  font-size: 1.5rem;
}

.text-center>button{
  margin-top: 10px;
  background-color: #50b376;
  border: none;
  border-radius: 5px;
 
  padding: 15px 20px;
    font-size: 19px;
    font-weight: 600;

}
a{
  text-decoration: none;
  color: white;
}
.form-container{
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 24px;
    padding: 10% 30% 5% 10%;
    display: flex;
    color:white;
}

.top-text{
  font-size: 3rem ;
  font-weight: bold;
  line-height: 48px;

}
.button-container{
  justify-content: space-between;
  align-self: flex-start;
  align-items: flex-end;
  display: flex;
  gap:24px;
  padding-left: 10%;
  width: 15%;
}

.next-button{
  background: transparent;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  display:block;
  height: 30px;
  color: white;
}

.previous-button{
  background: transparent;
  border: none;
  font-size: 1rem;
  font-weight: normal;
  color: #848c8e;
  display:block;
  height: 15px;

}

.radio-form{
    display: flex;

}

input{
  color: #848c8e;
  background-color: #0000;
  border: 1px #000;
  border-bottom: 2px solid #fff;
  width: 80%;
  height: 60px;
  padding-bottom: 10px;
  font-size: 28px;
  line-height: 28px;
}

button{
cursor: pointer;
}

input:focus {
    outline: none;
}




label {
    font-weight: bold;
}


.form-top-part{
    display:flex;
    flex-direction:column;
    gap:36px;
}

.image-radio-group {
  display: flex;
  gap: 10px;
}

.image-radio {
  position: relative;
  cursor: pointer;
}

.image-radio input[type="radio"] {
  display: none; /* Hide the default radio buttons */
}

.image-radio img {
  border: 2px solid transparent;
  border-radius: 13px;

}

.image-radio input[type="radio"]:checked + img {
  border: 3px solid  #50b376; /* Highlight color for selected image */
  transform: scale(1.05); /* Slightly enlarge the selected image */
}

.image-radio img:hover {
  border-color: #ccc; /* Highlight on hover */
}


footer {
  background: #f1f1f1;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
